<div class="container border border-primary-subtle rounded p-4">
<%= form_with model: @article, data: {"turbo-action": "advance"} do |form| %>
  <div class="row py-4">
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="row py-4">
    <%= form.rich_text_area :body, class: "form-control" %>
  </div>
  <div class="row py-4">
    <%= form.submit "Create Article", class: "btn btn-primary w-20" %>
  </div>
<%end%>
</div>
